* {
  box-sizing: border-box;
}

body {
  /* background: #0e1015;
  color: white; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
ul li,
label {
  cursor: pointer;
}
